<!-- Bottom -->
<div id="bottom1">
	<h1 style="font-size: 6em; line-height: 1;">SAMPLE BOTTOM CONTENT</h1>
	<h1 style="font-size: 3em; line-height: 1;">Edit /sections/bottom.liquid</h1>
</div>
<!-- End Bottom -->