<!-- For Blog Object visit this link: https://shopify.dev/docs/themes/liquid/reference/objects/blog -->


{% for article in blog.articles %}
<a href="{{article.url}}">
    <img src="{{article | img_url}}" alt="">
    <h2>{{ article.title }}</h2>
</a>
{% endfor %}